<div class="table-container">
  <mat-table [dataSource]="houses">


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let house">{{ house.name }}</mat-cell>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let house">{{ house.description }}</mat-cell>
    </ng-container>
  
    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let house">{{ house.address }}</mat-cell>
    </ng-container>
  
    <!-- Price Column -->
    <ng-container matColumnDef="price_per_night">
      <mat-header-cell *matHeaderCellDef>Price Per Night</mat-header-cell>
      <mat-cell *matCellDef="let house">{{ house.price_per_night }}</mat-cell>
    </ng-container>
  
    <!-- Bedrooms Column -->
    <ng-container matColumnDef="bedrooms">
      <mat-header-cell *matHeaderCellDef>Bedrooms</mat-header-cell>
      <mat-cell *matCellDef="let house">{{ house.bedrooms }}</mat-cell>
    </ng-container>
  
    <!-- Bathrooms Column -->
    <ng-container matColumnDef="bathrooms">
      <mat-header-cell *matHeaderCellDef>Bathrooms</mat-header-cell>
      <mat-cell *matCellDef="let house">{{ house.bathrooms }}</mat-cell>
    </ng-container>
  
 <!-- Actions Column -->
 <ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef> Actiona </th>
  <td mat-cell *matCellDef="let row">
      <button mat-button (click)="details(row.id)">Details</button>
   <br>
   <br>
    
      <button mat-button (click)="update(row.id)">Update</button>
   <br><br>
      <button mat-button (click)="delete(row.id)">Delete</button>
  </td>
</ng-container>
 

    <!-- Header row and Data rows -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
  </mat-table>
</div>